huggingface_hub
pyautogui
beautifulsoup4
selenium
webdriver-manager
python-dotenv
requests
customtkinter
pillow
pyttsx3

python-docx
python-pptx
SpeechRecognition
pyaudio
psutil
schedule
beautifulsoup4
requests
